version: "3"
services:
  postgres:
    image: postgres:12-alpine 
    container_name: postgres
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./db/initdb:/guzer/initdb
    env_file: .docker.env

  adminer:
    image: adminer
    container_name: adminer
    links:
      - postgres:postgres
    ports:
      - 8080:8080
  guzer-server:
    restart: unless-stopped
    depends_on:
      - postgres
    container_name: guzer-server
    image: 'guzer-server:latest'
    ports:
      - '8000:8000'
    environment:
    - DB_SOURCE=postgresql://root:secret@postgres:5432/guzer?sslmode=disable

volumes:
  pg_data:


